.mud-typography.mud-typography-h3.mud-inherit-text {
    margin-bottom: 1rem;
}

.mud-tabs-panels {
    margin: 1.5rem;
}

.logo-container {
    justify-content: center;
}

.button-grid-cell {
    display: flex;
    align-items: center;
}

.mud-paper {
    margin-bottom: 10px;
}